#define ZMK_POINTING_DEFAULT_SCRL_VAL 120    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MOUSE 4
#define SCROLL 5
#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        Login_1: Login_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(M) &kp O &kp K &kp K &kp U &kp N &kp N8 &kp N2 &kp LS(P) &kp O &kp K &kp E &kp G &kp O>;
            label = "LOGIN_1";
        };

        Login2: Login2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp N0 &kp N1 &kp N4 &kp N5 &kp N3 &kp N6>;
            label = "LOGIN2";
        };

        system_yes: system_yes {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOWN_ARROW &kp DOWN_ARROW &kp TAB>;
            label = "SYSTEM_YES";
        };

        system_none: system_none {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp END &kp TAB>;
            label = "SYSTEM_NONE";
        };

        print_tezashi: print_tezashi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(TAB) &kp END>;
            label = "PRINT_TEZASHI";
        };

        print_2in1: print_2in1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(G) &kp DOWN_ARROW>;
            label = "PRINT_2IN1";
        };

        new_folder: new_folder {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp RCLK &kp W &kp F &kp LC(V) &kp RET>;
            label = "NEW_FOLDER";
        };

        excel_1page: excel_1page {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp P &kp H &kp DOWN_ARROW>;
            label = "EXCEL_1PAGE";
        };

        mail_furiwake: mail_furiwake {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp H &kp Q &kp S>;
            label = "MAIL_FURIWAKE";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        ROTATE: ROTATE {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "ROTATE";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E         &kp R                  &kp T                                                     &kp Y                      &kp U  &kp I      &kp O    &kp P
&kp A             &kp S         &kp D         &lt 2 F                &kp G        &mkp MCLK                  &kp TAB           &kp H                      &kp J  &kp K      &lt 5 L  &lt 4 MINUS
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V                  &kp B        &to 2                      &to 6             &kp N                      &kp M  &kp COMMA  &kp DOT  &mt LEFT_SHIFT SLASH
&kp LCTRL         &kp LEFT_WIN  &kp LEFT_ALT  &lt 1 INTERNATIONAL_5  &lt 2 SPACE  &lt 5 INTERNATIONAL_4      &lt 3 INT_HENKAN  &lt 2 LANG_ZENKAKUHANKAKU                             &kp ENTER
            >;

            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };

        SYMBOL {
            bindings = <
&kp ESC       &kp SQT          &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp NON_US_BACKSLASH                                        &kp F5               &kp F7                &kp F8                 &kp F11        &kp AT_SIGN
&kp TAB       &kp DOLLAR       &kp PERCENT           &kp AMPERSAND          &kp CARET             &to 0             &kp AMPERSAND       &kp F9               &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp SEMICOLON  &kp LEFT_BRACKET
&kp LS(CAPS)  &kp EXCLAMATION  &kp DOUBLE_QUOTES     &kp POUND              &kp TILDE             &kp ASTERISK      &kp DOUBLE_QUOTES   &kp F10              &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp COLON      &kp RIGHT_BRACKET
&kp LCTRL     &kp LESS_THAN    &kp GREATER_THAN      &trans                 &trans                &trans            &kp RA(LEFT_ARROW)  &kp RA(RIGHT_ARROW)                                                              &kp F12
            >;

            sensor-bindings = <&ROTATE SCRL_LEFT SCRL_RIGHT>;
        };

        NUM {
            bindings = <
&kp LC(W)     &kp N7  &kp N8      &kp N9        &kp MINUS                                              &kp F4             &kp RC(LS(SEMICOLON))  &kp RC(SPACE)     &kp RS(RC(L))       &kp DELETE
&kp LS(TAB)   &kp N4  &kp N5      &kp N6        &kp PLUS       &trans                 &kp F2           &kp F9             &kp RS(SPACE)          &kp RC(NUMBER_1)  &kp RC(R)           &kp COLON
&kp SLASH     &kp N1  &kp N2      &kp N3        &kp LS(MINUS)  &to 3                  &kp ASTERISK     &kp F10            &kp RC(MINUS)          &kp LC(D)         &kp RA(DOWN_ARROW)  &kp TILDE
&kp ASTERISK  &kp N0  &kp PERIOD  &excel_1page  &kp LS(R)      &kp LC(SEMICOLON)      &kp RC(PAGE_UP)  &kp RC(PAGE_DOWN)                                                               &kp RA(ENTER)
            >;

            sensor-bindings = <&ROTATE SCRL_LEFT SCRL_RIGHT>;
        };

        ARROW {
            bindings = <
&kp ESCAPE      &kp HOME        &kp UP_ARROW  &kp PAGE_UP      &new_folder                                          &kp RC(HOME)  &kp HOME        &kp UP_ARROW    &kp PAGE_UP      &kp BACKSPACE
&kp TAB         &kp LEFT_ARROW  &Login_1      &kp RIGHT_ARROW  &print_tezashi  &to 0       &kp LS(LG(LEFT_ARROW))   &Login2       &kp LEFT_ARROW  &Login_1        &kp RIGHT_ARROW  &kp SEMICOLON
&kp LEFT_SHIFT  &kp END         &kp DOWN      &kp PAGE_DOWN    &print_2in1     &to 2       &kp LG(LS(RIGHT_ARROW))  &kp RC(END)   &kp END         &kp DOWN_ARROW  &kp PAGE_DOWN    &kp UNDERSCORE
&kp LCTRL       &kp LC(F)       &kp LC(H)     &trans           &trans          &trans      &kp LS(LC(TAB))          &kp LC(TAB)                                                    &kp RS(ENTER)
            >;

            sensor-bindings = <&ROTATE SCRL_UP SCRL_DOWN>;
        };

        MOUSE {
            bindings = <
&to_layer_0 Q      &to_layer_0 W         &to_layer_0 E         &to_layer_0 R       &to_layer_0 T                                      &kp LC(J)  &kp LA(TAB)     &kp LG(TAB)    &kp LG(P)  &kp PRINTSCREEN
&to_layer_0 A      &to_layer_0 S         &to_layer_0 D         &to_layer_0 F       &to_layer_0 G  &to 0                    &kp RC(W)  &kp LC(Q)  &mkp LCLK       &mkp MCLK      &mkp RCLK  &none
&to_layer_0 Z      &to_layer_0 X         &to_layer_0 C         &to_layer_0 V       &to_layer_0 B  &mkp RCLK                &kp RC(G)  &kp RC(M)  &mail_furiwake  &kp RS(RC(X))  &kp RC(P)  &kp RCTRL
&to_layer_0 LCTRL  &to_layer_0 LEFT_WIN  &to_layer_0 LEFT_ALT  &kp LG(LEFT_ARROW)  &kp LG(D)      &kp LG(RIGHT_ARROW)      &mkp MB4   &mkp MB5                                             &none
            >;

            sensor-bindings = <&inc_dec_kp LS(LG(LEFT_ARROW)) LS(LG(RIGHT_ARROW))>;
        };

        SCROLL {
            bindings = <
&kp LA(F4)   &kp LC(A)      &kp LC(Z)  &kp LC(Y)           &kp LA(LC(F))                                   &trans  &trans  &trans  &trans  &kp BACKSPACE
&kp LA(TAB)  &kp LC(X)      &kp LC(C)  &kp LC(V)           &system_yes    &mkp MCLK                &trans  &trans  &trans  &trans  &trans  &kp LC(LG(V))
&kp LG(TAB)  &kp LC(LS(V))  &kp LC(Q)  &kp LC(U)           &system_none   &trans                   &trans  &trans  &trans  &trans  &trans  &trans
&kp LA(N5)   &kp LC(S)      &kp LC(T)  &kp LG(LEFT_ARROW)  &kp LG(D)      &kp LG(RIGHT_ARROW)      &trans  &trans                          &kp F12
            >;
        };

        Bluetooth {
            bindings = <
&trans  &trans        &trans        &trans        &trans                                 &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans     &to 0       &studio_unlock  &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kt KP_N4  &trans      &bootloader     &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans     &trans      &trans          &trans                                                  &bt BT_CLR_ALL
            >;
        };

        layer_7 {
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(TAB)              &trans                       &trans  &trans  &trans  &trans  &trans
&kp HOME        &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans          &kp LG(LS(RIGHT_ARROW))  &trans   &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans                  &trans          &trans                   &trans   &trans      &trans  &trans                          &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };
    };
};
